/* Colors *********************************************************************/
/* Fonts **********************************************************************/
/* Site Wide Settings ********************************************************** */
body{
  font-family: "Raleway", Palatino, Times New Roman, serif;
  line-height: 1.2em;
  font-weight: 300;
  color: #373b44;
  background: #373b44 url("../images/noise.png");
}

header, nav, article, #social, #sketchbook-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  min-width: 240px;
  padding: 20px 0px 20px 0px;
  clear: both;
  display: block;
}

h1,h2 {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 2.4em;
  line-height: 2.4em;
  padding: 10px;
  color: #373b44;
}

img {  
  border: 0; 
}

header h1 {
  font-size: 4em;
  font-weight: 300;
  padding: 100px;
  text-align: center;
  color: #f6f6f6;
  text-shadow: 0px 3px 0px rgb(41, 41, 41);
  -webkit-text-shadow: 0px 3px 0px rgb(41, 41, 41);
  -moz-text-shadow: 0px 3px 0px rgb(41, 41, 41);
}

img.social-link{ height:32px; width:32px; padding:30px 40px;}
img.section-image { border-radius: 12px; max-width:300px; margin:48px; }

img.intro-image { float:left; }
img.vita-image { float:right; }


article {
  padding-top: 60px;
  padding-bottom: 60px;
}

.columned {
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

p,ul {
  font-family: "Raleway";
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 300;
  padding: 0.4em;
  color: #373b44;
}

.center {
  text-align: center;
}

footer p {
  font-size: 0.8em;
  line-height: 1.2em;
  font-weight: 300;
  padding: 3em;
  color: #f6f6f6;
}

a,i {
  text-decoration: none;
}

footer a, footer a:visited, footer a:active, footer a:hover, footer a:focus{
    color:#f6f6f6;
}
a:active, a:visited {
  color: #373b44;
}

a:hover,a:focus {
  color: #787a80;
}
/*
#bg {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #373b44 url("../images/noise.png");
  z-index: -1;
}
*/
#slideshow {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1000px;
  z-index: -1;
}

.bg-image {
 position:fixed;
 top:0;
 width:100%;
 height:500px;
background-position: center top;
-webkit-background-position:center top;
-moz-background-position:center top;
 background-size: 100% auto;
-webkit-background-size:100% auto;
-moz-background-size:100% auto;
background-repeat:none;
 opacity:0;
 transition: opacity 2.5s ease-in;
}

.active{
 opacity:1;
}

/*Wrappers******************************************************************************************/
#content-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* really sir? */
  background: ;
  /*?*/
}
#article-wrapper,
#vita-wrapper {
  width: 100%;
  background: #f6f6f6;
  max-width: 100%;
  padding-bottom: 140px;
}
#sketchbook-wrapper {
  background: #373b44;
}
#vita-wrapper {
  background: #f6f6f6;
}
/* Triangle Wrappers *********************************************************/
#content-top-wrapper,
#content-bottom-wrapper,
#sketchbook-top-wrapper,
#vita-top-wrapper {
  width: 100%;
  height: 80px;
  display: table;
}
#content-top-wrapper div,
#content-bottom-wrapper div,
#sketchbook-top-wrapper div,
#vita-top-wrapper div {
  display: table-cell;
}
.left,
.right {
  height: 80px;
  background: #f6f6f6;
  width: 50%;
}
#content-bottom-wrapper .left,
#content-bottom-wrapper .right {
  background: rgba(255, 255, 255, 0);
}
#sketchbook-top-wrapper .left,
#sketchbook-top-wrapper .right {
  background: #373b44;
}
#vita-top-wrapper .left,
#vita-top-wrapper .right {
  background: #f6f6f6;
}
.top-left,
.top-right,
.bottom-left,
.bottom-right {
  height: 0px;
  width: 0px;
}
.top-left {
  border-top: 41px solid rgba(255, 255, 255, 0);
  border-right: 41px solid rgba(255, 255, 255, 0);
  border-left: 40px solid #f6f6f6;
  border-bottom: 40px solid #f6f6f6;
}
#sketchbook-top-wrapper .top-left {
  border-top: 41px solid #f6f6f6;
  border-right: 41px solid #f6f6f6;
  border-left: 40px solid #373b44;
  border-bottom: 40px solid #373b44;
}
#vita-top-wrapper .top-left {
  border-top: 41px solid #373b44;
  border-right: 41px solid #373b44;
  border-left: 40px solid #f6f6f6;
  border-bottom: 40px solid #f6f6f6;
}
.top-right {
  border-top: 40px solid rgba(255, 255, 255, 0);
  border-right: 41px solid #f6f6f6;
  border-left: 40px solid rgba(255, 255, 255, 0);
  border-bottom: 41px solid #f6f6f6;
}
#sketchbook-top-wrapper .top-right {
  border-top: 41px solid #f6f6f6;
  border-right: 41px solid #373b44;
  border-left: 40px solid #f6f6f6;
  border-bottom: 40px solid #373b44;
}
#vita-top-wrapper .top-right {
  border-top: 41px solid #373b44;
  border-right: 41px solid #f6f6f6;
  border-left: 40px solid #373b44;
  border-bottom: 40px solid #f6f6f6;
}
.bottom-left {
  border-top: 41px solid #f6f6f6;
  border-right: 41px solid #f6f6f6;
  border-left: 40px solid rgba(255, 255, 255, 0);
  border-bottom: 40px solid rgba(255, 255, 255, 0);
}
.bottom-right {
  border-top: 41px solid #f6f6f6;
  border-right: 41px solid rgba(255, 255, 255, 0);
  border-left: 40px solid #f6f6f6;
  border-bottom: 40px solid rgba(255, 255, 255, 0);
}

/* Gallery stuff *************************************************************/

.tilespot,
.spot,
.tile {
  height: 240px;
  width: 240px;
}
.tilespot {
  float:right;
}
.spot {
  position: relative;
}
.tile {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
  text-align: center;
}
.tile img {
  border: 4px solid #ffffff;
  box-shadow: 0px 0px 0px 0px #192328;
  margin: 20px;
  width: auto;
  border-radius: 100px;
  pointer-event: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.tilespot:hover img,
.tilespot a:focus img {
  border-color: #f6f6f6;
  box-shadow: 0px 10px 1px 0px #2c2f36;
  transform: translateY(-10px) rotateX(10deg);
}
/* Darkbox Stuff ***************************************************************/
@keyframes slide-in {
  0% {
    opacity: 0;
    height: 100%;
    transform: scale(0) originX(-400);
  }
  80% {
    opacity: 1;
    height: 100%;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    height: 100%;
    transform: scale(1);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    height: 100%;
    transform: scale(1);
  }
  70% {
    opacity: 1;
    height: 100%;
    transform: scale(0.9);
  }
  100% {
    opacity: 0;
    height: 0%;
    transform: scale(0);
  }
}
.darkbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
 /* height: 0%;*/
  opacity: 0;
  z-index: 1000;
  background: #000000;
}
.showDarkbox {
  display: block;
  height: 100%;
	top:0;
  -webkit-animation: slide-in 0.9s ease-in-out;
  /* Safari 4+ */
  -moz-animation: slide-in 0.9s ease-in-out;
  /* Fx 5+ */
  -o-animation: slide-in 0.9s ease-in-out;
  /* Opera 12+ */
  animation: slide-in 0.9s ease-in-out;
  /* IE 10+ */
  opacity: 1;
}
.hideDarkbox {

  -webkit-animation: slide-out 0.8s ease-in;
  /* Safari 4+ */
  -moz-animation: slide-out 0.8s ease-in;
  /* Fx 5+ */
  -o-animation: slide-out 0.8s ease-in;
  /* Opera 12+ */
  animation: slide-out 0.8s ease-in;
  /* IE 10+ */
  opacity: 0;
  height: 0%;	
}
.closeBox {
  background: url("../images/button-close.svg") center center no-repeat;
  background-size: 16px;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  z-index: 5000;
  position:absolute;
  top:24px;
  right:24px;
  transition: all 0.2s ease-in-out;
}
.closeBox:hover {
  background: url("../images/button-close.svg") center center no-repeat;
  background-size: 24px;
  cursor:pointer;
}
.container-wrapper, .navigation-wrapper {
  position:absolute;
  width: 100%;
  height: 100%;
  display: table;
  margin: 0px auto;
  border: 0px solid #fff;
  border-radius: 0px;
}


.previous {
  height: 100%;
  width: 50%;
  background: url("../images/button-back.svg") left center no-repeat;
  background-size: 32px;
  display: table-cell;
  transition: all 0.2s ease-in-out;
}
.previous:hover {
  background: url("../images/button-back.svg") left center no-repeat;
  background-size:48px;
  cursor:pointer;
}
.container {
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.imageBox {
  margin-left: auto;
  margin-right: auto;
  height: 96%;
  width: 96%;
}
.next {
  height: 100%;
  width: 50%;
  display: table-cell;
  background: url("../images/button-forward.svg") right center no-repeat;
  background-size: 32px;
  transition: all 0.2s ease-in-out;
}
.next:hover {
  background: url("../images/button-forward.svg") right center no-repeat;
  background-size: 48px;
  cursor:pointer;
}
/* Footer ************************************************************************** */
footer {
  width: 100%;
  height: auto;
  display: block;
  clear: both;
  position: relative;
}
.gplus-box {
  height: 24px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 24px;
}
.about-box {
  height: 48px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 24px;
  bottom: 0;
  left: auto;
}
.html5-box {
  height: 27px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 96px;
  bottom: 0;
  left: auto;
}
/*  a lot of displays still have it, also iPad */
@media only all and (min-width: 768px) and (max-width: 1024px) {
  header,
  nav,
  article,
  .morePosts,
  #social,
  #vita-wrapper h1 {
    max-width: auto;
    min-width: auto;
  }

  header h1 {
    font-size: 3em;
    font-weight: 300;
    padding: 0px;
    margin: 10px 0px 10px 0px;
  }

  .flip-container {
    margin: 80px 76px;
  }

  .infobox {
    width: 100px;
  }
#sketchbook-wrapper{
  max-width: 720px;
}

}
/* "retina" displays (4K) */
/* mobiles */
@media only all and (min-width: 240px) and (max-width: 768px) {

  header,
  nav,
  article,
  .morePosts,
  #social,
  #vita-wrapper h1 {
    max-width: auto;
    min-width: auto;
  }

  h1,
  h2 {
    font-size: 1.4em;
    line-height: 1.4em;
    padding: 0px;
    margin: 8px 16px;
	text-align:center;
  }
  header h1 {
    font-size: 2em;
    font-weight: 300;
    padding: 0px;
    margin: 10px 0px 10px 0px;
  }
  p {
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 0.4em;
    margin: 4px 16px;
  }

  article section {
    -webkit-column-count: 1;
    -moz-column-count: 1;
  }

	img.intro-image, img.vita-image { 
	float:none;
	max-width:80%;
	margin:10px 0px;
	
	}

  #social img{
	padding:10px;
  }
#sketchbook-wrapper{
  max-width: 480px;
}
}
@media only all and (min-width: 240px) and (max-width: 480px) {
#sketchbook-wrapper{
  max-width: 240px;
}
}
